.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 36, 36);
    color: white;
}

.info {
    padding: 20px;
}

a {
    color: rgb(255, 255, 255) !important;
}

ul li {
    list-style: none;
}

li i {
    color: rgba(255, 255, 0, 0.753);
}
