.container {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 36, 36);
    margin-top: 2rem;
}

.favorite_title {
    margin-top: 20px;
}
.favorite_title h2 {
    margin-top: 3rem;
}

.film_card {
    border: 3px solid black;
    width: 18%;
    height: 40%;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    color: whitesmoke;
}

.img {
    width: 100%;
    height: 73%;
    border-radius: 10px;
}

.rating {
    width: 2em;
    float: right;
    background-color: rgba(20, 163, 68, 0.753);
    border-radius: 50%;
}
