.container {
    display: flex;
    justify-content: center;
    background-color: rgb(37, 36, 36);
    margin-top: 2rem;
}

.back button {
    margin-top: 0;
    height: 30px;
    position: absolute;
    left: 3px;
    background-color: rgba(20, 163, 68, 0.753);
    border: 1px solid rgba(20, 163, 68, 0.753);
    cursor: pointer;
    color: white;
}

.film_card {
    border: 3px solid black;
    width: 18%;
    height: 40%;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    color: whitesmoke;
}

.img {
    width: 100%;
    height: 73%;
    border-radius: 10px;
}

.rating {
    width: 2em;
    float: right;
    background-color: rgba(20, 163, 68, 0.753);
    border-radius: 50%;
}