.search {
    display: flex;
    height: 20rem;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 8rem;
}

.search_container {
    width: 100%;
}

.search_container h1 {
    margin-top: 5rem;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input {
    border-radius: 2em;
    width: 60rem;
    height: 35px;
    padding-left: 10px;
    margin-right: 5px;
    border: 0;
}
input:focus {
    outline: none;
}

form button {
    background-color: rgba(20, 163, 68, 0.753);
    height: 35px;
    border-radius: 2em;
    border: 0;
}
button:focus {
    outline: none;
}